/* Common CSS */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;800&family=Poppins:wght@400;600;700;800&display=swap');

* {
    margin: 0 auto;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
}

section {
    padding: 50px 100px;
}

.primary-description {
    color: #3A3A3A;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 600;
    margin: 10px 0;
}

.btn-primary {
    border-radius: 41px;
    background: #E02C6D;
    color: white;
    border: 0;
    padding: 10px 24px;
    margin: 10px 0;
}

/* Header Navigation */
.nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    background-color: #ddd;
}

.menus ul {
    display: flex;
    list-style-type: none;
}

.menus ul li {
    margin: 10px;
}

.menus ul li a {
    text-decoration: none;
    font-size: 1rem;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
}

/* Banner Aria */
.banner-container {
    background-image: url("/images/Circle-design.svg");
    background-repeat: no-repeat;
    background-position: bottom right;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner-container h1 {
    color: #3A3A3A;
    font-family: Poppins;
    font-size: 52px;
    font-weight: 700;
    line-height: 70px;
}

.bannger-image img {
    width: 500px;
}

/*  Brand Section */
.brand-container {
    display: grid;
    grid-template-columns: repeat(6, 6fr);
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.brand-container img {
    box-shadow: 0px 4px 40px rgba(128, 128, 128, 0.205);
    padding: 10px 30px;
    border-radius: 5px;
}

/* Product Section */
.produtc-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
}

.product {
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
    padding: 15px;
    text-align: center;
}

.product img {
    height: 300px;
}

.product-title {
    color: var(--text-gray-900, #18191F);
    font-family: Poppins;
    font-size: 28px;
    font-weight: 600;
    line-height: 40px;
}

.product-price {
    color: rgba(0, 0, 0, 0.87);
    font-family: Inter;
    font-size: 24px;
    font-weight: 400;
    line-height: 150%;

}

.checked {
    color: orange;
}

.product-descriptin {
    color: var(--gray-50, #787885);
    font-family: Inter;
    font-size: 14px;
    font-weight: 700;
    margin: 10px 0;
    padding: 5px 20px;
}

.see-more a{
    text-align: right;
    margin-top: 20px;
    color: rgba(224, 44, 109, 0.87);
    font-family: Poppins;
    font-size: 18px;
    font-weight: 700;
    text-decoration: none;
    display: block;
}

/* Blog Section */
.blog-container{
    display: flex;
    justify-content: center; 
    align-items: center; 
}
.blog-content{ 
    margin-left: 100px;
}
.blog-content p{
    width: 500px;
    margin: 10px 0;
}
/* Footer Section */
footer{
    background-color: #0A0826;
    padding: 50px 0;
    text-align: center;
}
footer .primary-title, footer .primary-description{
    color: #fff;
}
footer .primary-description{
    font-weight: 500;
}
footer .fa-brands{
    color: #fff;
    font-size: 32px;
    margin: 16px;
}